<div>
    CurrentCounterValue in MyFirstComponent is @CurrentCounterValue
</div>
<button @onclick=@UpdateCurrentCounterValue>Update</button>



@code {
    //[Parameter]
    //public int CurrentCounterValue { get; set; }

    [CascadingParameter (Name = "Contatore")] protected int CurrentCounterValue { get; set; }



    async Task UpdateCurrentCounterValue()
    {
        CurrentCounterValue++;
        //await CurrentCounterValueChanged.InvokeAsync(CurrentCounterValue);
    }
}
