@using BlazorToDoList.Models
@using Blazor.Fluxor
@using BlazorToDoList.Store.ToDo;
@inherits Blazor.Fluxor.Components.FluxorComponent
@inject IState<BlazorToDoList.Store.ToDo.ToDoListAppState> todolistappState



@if (todolistappState.Value.todoitemlist.Count() <= 0)
{
    <p><em>Nessun item</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>DueDate</th>
                <th>Done</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var todoitem in todolistappState.Value.todoitemlist)
            {
                <tr>
                    <td>@todoitem.Description</td>
                    <td>
                        @(todoitem.DueDate?.ToShortDateString() ?? string.Empty)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

