@page "/"
@inject ToDoItemsListViewModel ViewModel
@using System.ComponentModel;
@implements IDisposable


<h1>@ViewModel.Title</h1>

<CascadingValue Value=@ViewModel Name="ViewModel">
    <ToDoFormComponent />
    <ToDoListComponent />
</CascadingValue>

@code {


    protected override async Task OnInitializedAsync()
    {


        ViewModel.PropertyChanged += OnPropertyChangedHandler;

        await ViewModel.Init();

        await base.OnInitializedAsync();
    }

    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    public void Dispose()
    {
        ViewModel.PropertyChanged -= OnPropertyChangedHandler;
    }


}
