<h3>Lista ToDo</h3>
@if (IsBusy)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>DueDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todoitem in ToDoItemList)
            {
                <tr>
                    <td>@todoitem.Description</td>
                    <td>
                        @(todoitem.DueDate?.ToShortDateString() ?? string.Empty)
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    [CascadingParameter(Name = "ToDoItemList")]
    public List<ToDoItem> ToDoItemList { get; set; }


    [CascadingParameter(Name = "IsBusy")]
    public bool IsBusy { get; set; }
}
