<h3>Lista ToDo</h3>
@if (ViewModel.ToDoItemList.Count() <= 0)
{
    <p><em>Nessun item</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>DueDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todoitem in ViewModel.ToDoItemList)
            {
                <tr>
                    <td>@todoitem.Description</td>
                    <td>
                        @(todoitem.DueDate?.ToShortDateString() ?? string.Empty)
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    [Parameter]
    public ToDoItemsListViewModel ViewModel { get; set; }

}
