<h3>Nuovo ToDo</h3>


<EditForm Model="@Newtodoitem" OnValidSubmit="@CreaTodo">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <div class="form-field">
            <label for="descrizione">Descrizione</label>
            <InputText id="descrizione" @bind-Value=@Newtodoitem.Description />
        </div>
    </p>
    <p>
        <div class="form-field">
            <label for="duedate">Due Date</label>
            <InputDate id="duedate" @bind-Value=@Newtodoitem.DueDate ParsingErrorMessage="Inserire un data valida" />
        </div>
    </p>
    <button type="submit">Salva</button>
</EditForm>


@code {
    [Parameter]
    public ToDoItemsListViewModel ViewModel { get; set; }

    private ToDoItem Newtodoitem = new ToDoItem();


    void CreaTodo()
    {
        ViewModel.AddToDoItem(Newtodoitem);
        Newtodoitem = new ToDoItem();

    }

}
